{#{% if number == "1" %}#}
<h{{ number }}> Test </h{{ number }}>
{#{% elseif number == "2" %}#}
{#<h2> AssignmentController </h2>#}
{#{% elseif number == "3" %}#}
{#<h3> AssignmentController </h3>#}
{#{% elseif number == "4" %}#}
{#<h4> AssignmentController </h4>#}
{#{% endif %}#}

<h1>Your random numb is {{ number }}</h1>