{% if problem is sameas(true) %}
    <h1>Enter numbers -_-</h1>

{% elseif operator == "multiple" %}
    {% set answer = firstNum * secondNum %}
    <h1>{{ answer }}</h1>

{% elseif operator == "plus" %}
    {% set answer = firstNum + secondNum %}
    <h1>{{ answer }}</h1>

{% elseif operator == "minus" %}
    {% set answer = firstNum - secondNum %}
    <h1>{{ answer }}</h1>

{% elseif operator == "devision" %}
    {% set answer = firstNum / secondNum %}
    <h1>{{ answer }}</h1>

{% else %}
    <h1>Check the operator -_-</h1>
{% endif %}
